.containerCars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carsContainers {
    padding-left: 20px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

.description {
    width: 100%;
    margin-top: -70px;
    font-size: 14px;
    color: #7f7f7f;
}

.envio {
    font-size: 13px;
    font-weight: bold;
    color: #02A751;
}

.precio {
    margin-top: 20px;
    font-size: 20px;
}

img {
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

figcaption {
    padding: 2px;
    margin: 1px;

} 
 
/* .carsContainers {
    display: flex;
    margin: 10px;
} */

/* .description {
    width: 100%;
    margin-top: -220PX;
}

.envio {
    font-weight: bold;
    color: #02A751;
}

.precio {
    font-size: 20px;
}

img {
    object-fit: cover;
    border: solid .1px #ebebeb;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

figcaption {
    padding: 2px;
    margin: 10px;

} 
 */
